<!DOCTYPE html>
<html>
<head>
    <title>Brain Tumor Detection</title>
</head>
<body style="text-align:center">

    <h1>Brain Tumor Detection (MRI)</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <br><br>
        <button type="submit">Predict</button>
    </form>

    {% if image_path %}
        <h3>Uploaded Image</h3>
        <img src="{{ image_path }}" width="300">
    {% endif %}

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}

</body>
</html>
